.container{
    padding-top: 95px;
   
}
.about{
    background: #e2baba;

    /* margin-bottom: 433px; */
}
img.about__img{
border-radius: 10px;
width: 100%;

}
h1.about_heading{
/* margin-top: 14px; */
text-align: start;
font-family: Monsterrat,sans-serif;
font-size: 45px;
color: black;
}
button.about.btn.pointer{
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: .4s ease;
}
.about_button{
    padding: 20px 0px;
}
a.bottom__to__top{
    height: 40px;
    width: 46px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-color: #f9004D;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    transition: .4s all ease;
    z-index: 1000;
   }
a.bottom__to__top.active {
     display: flex;
}
/* responsive  */
@media only screen and (max-width: 1024px){
    h1.about_heading{
        font-size: 20px;
    }
     .p__color {
        font-size: 15px!important;
    }
}
