.home__bg{
  background-image: url(C:/Users/almaz/reactproject/xpress_restaurant/src/image/bg.jpg);
  background-color: #000;
  /* background-size: cover; */
  background-position: 50;
  background-repeat: no-repeat;
  background-size: cover;
}
li.nav__items{
  font-size: 18px;
  padding-bottom: 18px; /* make a padding padding_bottom is center strate to logo */
  /* transition: 0.4s ease-in-out; */
}
.home__content{
  padding: 125px 0px;
  margin-bottom: 8rem;
}
  .navigation {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-left: 36rem;
}
h1.home__text{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.75) !important;
  
  /* color: rgba(43, 73, 224, 0.75) !important; */
   justify-content: center;
   align-content: center;
   display: grid;
   /* padding-left: 50rem; */
 
}
h2.home__text {
  font-size: 54px;
  line-height: 54px;
  font-weight: 800;
  font-family: Montserrat,sans-serif;
  justify-content: center;
  align-content: center;
  display: grid;
  /* padding-left: 47rem; */
}
h3.home__text{
  font-size: 43px;
  font-weight: 800;
  font-family: Montserrat,sans-serif;
  line-height: 54px;
  align-content: center;
  display: grid;
  justify-content: center;
  /* padding-left: 47rem; */
}
h4.home__text{
  font-size: 50px;
  font-weight: 800;
  line-height: 40px;
  font-family: Montserrat,sans-serif;
  display: grid;
  align-content: center;
  justify-content: center;
  /* padding-left: 47rem; */
}
.header{
  transition: .4s all ease;
}
.header.active{
   position: fixed;
   z-index: 1000;
   width: 100%;
   padding: 0px 30px;
   background-color:transparent;
}
.toggle__menu{
display: flex;
justify-content: flex-end;
float: right;
z-index: 1000;
width: 100%;
}
ul.sidebar.d__flex{
  flex-wrap: wrap;
  height: 100%;
  position: fixed;
  right: 0%;
  background: #010101;
  justify-content: center;
  width: 300px;
  top: 0%;
  flex-direction: column;
}
li.sideNavbar{
  padding: 25px 30px;
}
@media screen and (max-width: 1024px){
  
  .navigation{
    padding: 18px;
    padding-left: 21rem;
     display: none;      
  }
  /* .navigation.pxy__30{ */
    /* display: none; */
  
  }
@media only  screen and (max-width: 768px){
  .header{
    justify-content: space-between;
  }
  .navigation {
    display: none;
   
}
svg.bi.bi-justify.white.pointer{
width: 30px;
height: 30px;
}  
}
/* @media only screen and (max-width: 768px){
  .col__2{
    max-width: 100%;
  }
} */
@media only screen and (min-width: 1280px){

  svg.bi.bi-justify.white.pointer {
    display: none !important;
  }
  .sidebarNavbar{
    display: none !important;
  }
}