.home__bg{
  background-image: url(C:/Users/almaz/reactproject/xpress_restaurant/src/image/bg.jpg);
  background-color: #000;
  /* background-size: cover; */
  background-position: 50;
  background-repeat: no-repeat;
  background-size: cover;
}
li.nav__items{
  font-size: 18px;
  padding-bottom: 18px; /* make a padding padding_bottom is center strate to logo */
  /* transition: 0.4s ease-in-out; */
}
.home__content{
  padding: 125px 0px;
  margin-bottom: 3rem;
}
.navigation{
  display: grid;
  justify-content: center;
  align-content: center;
  padding-left: 43rem;
}
h1.home__text{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.75) !important;
  
  /* color: rgba(43, 73, 224, 0.75) !important; */
   justify-content: center;
   align-content: center;
   display: grid;
   /* padding-left: 50rem; */
 
}
h2.home__text {
  font-size: 54px;
  line-height: 54px;
  font-weight: 800;
  font-family: Montserrat,sans-serif;
  justify-content: center;
  align-content: center;
  display: grid;
  /* padding-left: 47rem; */
}
h3.home__text{
  font-size: 43px;
  font-weight: 800;
  font-family: Montserrat,sans-serif;
  line-height: 54px;
  align-content: center;
  display: grid;
  justify-content: center;
  /* padding-left: 47rem; */
}
h4.home__text{
  font-size: 50px;
  font-weight: 800;
  line-height: 40px;
  font-family: Montserrat,sans-serif;
  display: grid;
  align-content: center;
  justify-content: center;
  /* padding-left: 47rem; */
}
.header{
  transition: .4s all ease;
}
.header.active{
   position: fixed;
   z-index: 1000;
   width: 100%;
   padding: 0px 30px;
   background-color: #191919;
}
@media screen and (max-width: 1024px){
  .navigation{
    padding: 3px !important;
    display: none;
  }
}
@media only  screen and (max-width: 768px){
  .header{
    justify-content: space-between;
  }
  .navigation.pxy__30 {
    display: none;
}
  
}
